python==3.9.13
absl-py
aio-pika
aiofiles
aiogram
aiohttp
aiohttp-retry
aiormq
aiosignal
altair
APScheduler
astunparse
async-timeout
attrs
babel
bidict
blinker
boto3
botocore
CacheControl
cachetools
catboost
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
colorclass
coloredlogs
colorhash
confluent-kafka
contourpy
cryptography
cycler
dask
dnspython
docopt
Faker
fbmessenger
filelock
fire
flatbuffers
fonttools
frozenlist
fsspec
future
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
graphviz
greenlet
grpcio
h11
h5py
httptools
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
jax
jaxlib
Jinja2
jmespath
joblib
jsonpickle
jsonschema
jsonschema-specifications
kagglehub
keras
kiwisolver
libclang
lightgbm
locket
Markdown
markdown-it-py
MarkupSafe
matplotlib
mattermostwrapper
mdurl
ml_dtypes
msgpack
multidict
narwhals
networkx
numpy
oauthlib
opt_einsum
packaging
pamqp
pandas
partd
pillow
plotly
pluggy
portalocker
prompt-toolkit
propcache
protobuf
psycopg2-binary
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydeck
pydot
Pygments
PyJWT
pykwalify
pymongo
pyparsing
pyreadline3
pyrsistent
python-crfsuite
python-dateutil
python-engineio
python-socketio
pytz
pywin32
PyYAML
questionary
randomname
rasa
rasa-sdk
redis
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rocketchat-API
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
s3transfer
safetensors
sanic
Sanic-Cors
sanic-jwt
sanic-routing
scikit-learn
scipy
seaborn
sentry-sdk
simple-websocket
six
sklearn-crfsuite
skops
slack_sdk
smmap
SQLAlchemy
streamlit
structlog
structlog-sentry
tabulate
tarsafe
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminaltables
threadpoolctl
toml
toolz
tornado
tqdm
twilio
typing-utils
typing_extensions
tzdata
tzlocal
ujson
urllib3
watchdog
wcwidth
webexteamssdk
websockets
Werkzeug
wrapt
wsproto
xgboost
yarl
zipp
